<h1>Sign in with your newly created Cupid credentials!</h1>

<form action="/connect" method="post">
  Email:<br>
  <input type="text" name="session[email]"><br>
  Password:<br>
  <input type="password" name="session[password]"><br><br>
  <input type="submit" value="Sign in and connect to Facebook">
</form>
