<h1><div class="container">Sign in with your newly created Cupid credentials to connect to Facebook</div></h1>
<div class="container">
  <form action="/connect" method="post">
    <input type="email" name="session[email]" placeholder="email"><br>
    <input type="password" name="session[password]" placeholder="password"><br><br>

    <div class="errors">
      <% flash.each do |key, msg| %>
      <%= content_tag :li, msg, id: key %>
      <% end %>
    </div>

    <input type="submit" value="Sign in and connect to Facebook" class="submit">
  </form>
</div>
